<form [formGroup]="dataKeySettingsForm" *ngIf="dataKeySettingsForm">
  <div class="mat-content mat-padding" fxLayout="column">
    
    <!-- Header with visual representation -->
    <div class="tb-data-key-header">
      <div class="tb-form-panel-title">
        <mat-icon class="material-icons">timeline</mat-icon>
        <span>Data Series Configuration</span>
      </div>
      
      <div class="tb-data-key-info">
        <mat-icon class="tb-info-icon">info_outline</mat-icon>
        <span>Assign this data series to a specific plot in your multi-plot chart</span>
      </div>
    </div>

    <!-- Plot Selection with Visual Preview -->
    <div class="tb-plot-selection">
      <mat-form-field class="mat-block" appearance="outline">
        <mat-label>
          <mat-icon class="tb-mat-label-icon">dashboard</mat-icon>
          Target Plot
        </mat-label>
        <mat-select formControlName="plotIndex">
          <mat-select-trigger>
            <div class="tb-select-trigger" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <mat-icon class="tb-plot-icon">{{getPlotIcon(dataKeySettingsForm.get('plotIndex')?.value)}}</mat-icon>
              <span>{{getSelectedPlotName()}}</span>
            </div>
          </mat-select-trigger>
          <mat-option *ngFor="let option of plotOptions" [value]="option.value">
            <div class="tb-option-content" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <mat-icon class="tb-plot-icon">{{getPlotIcon(option.value)}}</mat-icon>
              <div fxLayout="column" fxFlex>
                <span class="tb-option-title">{{ option.name }}</span>
                <span class="tb-option-subtitle">Plot {{ option.value }}</span>
              </div>
            </div>
          </mat-option>
        </mat-select>
        <mat-icon matSuffix class="tb-mat-hint">bar_chart</mat-icon>
        <mat-hint>
          <ng-container *ngIf="plotOptions.length > 1">
            Choose from {{ plotOptions.length }} available plots
          </ng-container>
          <ng-container *ngIf="plotOptions.length === 1">
            Only one plot is available
          </ng-container>
        </mat-hint>
        <mat-error *ngIf="dataKeySettingsForm.get('plotIndex')?.hasError('required')">
          Please select a plot
        </mat-error>
      </mat-form-field>

      <!-- Visual Plot Preview -->
      <div class="tb-plot-preview" *ngIf="plotOptions.length > 1">
        <div class="tb-preview-title">
          <mat-icon>visibility</mat-icon>
          <span>Visual Preview</span>
        </div>
        <div class="tb-plot-grid" fxLayout="column" fxLayoutGap="4px">
          <div class="tb-plot-item" 
               *ngFor="let option of plotOptions" 
               [class.selected]="option.value === dataKeySettingsForm.get('plotIndex')?.value"
               (click)="selectPlot(option.value)"
               (keyup.enter)="selectPlot(option.value)"
               (keyup.space)="selectPlot(option.value)"
               tabindex="0"
               role="button"
               [attr.aria-label]="'Select ' + option.name"
               [attr.aria-pressed]="option.value === dataKeySettingsForm.get('plotIndex')?.value">
            <div class="tb-plot-bar">
              <mat-icon class="tb-plot-number">{{getPlotIcon(option.value)}}</mat-icon>
              <div class="tb-plot-label">{{ option.name }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Additional Information -->
    <div class="tb-form-hint tb-additional-info">
      <mat-icon>lightbulb_outline</mat-icon>
      <div fxLayout="column" fxLayoutGap="4px">
        <span class="tb-hint-title">Pro Tips:</span>
        <ul class="tb-hint-list">
          <li>Group related data series in the same plot for easier comparison</li>
          <li>Use different plots to separate data with different units or scales</li>
          <li>All plots share the same time axis for synchronized viewing</li>
        </ul>
      </div>
    </div>

  </div>
</form>