<form [formGroup]="echartsLineChartSettingsForm" *ngIf="echartsLineChartSettingsForm" style="width: 100%;">
  <div class="mat-content mat-padding tb-settings-container" fxLayout="column" style="width: 100%; display: flex; flex-direction: column;">
    
    <!-- Basic Settings Section -->
    <div class="tb-form-panel">
      <div class="tb-form-panel-title">
        <mat-icon class="material-icons">settings</mat-icon>
        <span>Basic Settings</span>
      </div>
      
      <mat-form-field class="mat-block">
        <mat-label>Chart Title</mat-label>
        <input matInput formControlName="title" placeholder="Enter a descriptive title for your chart">
        <mat-icon matSuffix class="tb-mat-hint">title</mat-icon>
        <mat-hint>This title will appear at the top of your chart</mat-hint>
      </mat-form-field>
    </div>

    <!-- Visual Settings Section -->
    <div class="tb-form-panel">
      <div class="tb-form-panel-title">
        <mat-icon class="material-icons">brush</mat-icon>
        <span>Visual Settings</span>
      </div>
      
      <div class="tb-settings-section" fxLayout="column" fxLayoutGap="8px">
        <mat-slide-toggle formControlName="smooth" class="mat-slide">
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="tb-mat-toggle-icon">show_chart</mat-icon>
              <span>Smooth Lines</span>
            </div>
            <mat-hint>Makes line transitions smoother and more visually appealing</mat-hint>
          </div>
        </mat-slide-toggle>
        
        <mat-slide-toggle formControlName="enableDataZoom" class="mat-slide">
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="tb-mat-toggle-icon">zoom_in</mat-icon>
              <span>Enable Zoom</span>
            </div>
            <mat-hint>Allows users to zoom and pan through the data</mat-hint>
          </div>
        </mat-slide-toggle>
      </div>
    </div>

    <!-- Multi-Plot Configuration Section -->
    <div class="tb-form-panel">
      <div class="tb-form-panel-title">
        <mat-icon class="material-icons">view_column</mat-icon>
        <span>Multi-Plot Configuration</span>
      </div>
      
      <mat-form-field class="mat-block">
        <mat-label>Number of Plots</mat-label>
        <mat-select formControlName="numberOfPlots">
          <mat-option [value]="1">
            <mat-icon class="tb-mat-option-icon">looks_one</mat-icon>
            Single Plot
          </mat-option>
          <mat-option [value]="2">
            <mat-icon class="tb-mat-option-icon">looks_two</mat-icon>
            2 Plots
          </mat-option>
          <mat-option [value]="3">
            <mat-icon class="tb-mat-option-icon">looks_3</mat-icon>
            3 Plots
          </mat-option>
          <mat-option [value]="4">
            <mat-icon class="tb-mat-option-icon">looks_4</mat-icon>
            4 Plots
          </mat-option>
          <mat-option [value]="5">
            <mat-icon class="tb-mat-option-icon">looks_5</mat-icon>
            5 Plots
          </mat-option>
          <mat-option [value]="6">
            <mat-icon class="tb-mat-option-icon">looks_6</mat-icon>
            6 Plots
          </mat-option>
          <mat-option [value]="7">
            <mat-icon class="tb-mat-option-icon">filter_7</mat-icon>
            7 Plots
          </mat-option>
        </mat-select>
        <mat-icon matSuffix class="tb-mat-hint">dashboard</mat-icon>
        <mat-hint>Split your chart into multiple independent plots with shared time axis</mat-hint>
        <mat-error *ngIf="echartsLineChartSettingsForm.get('numberOfPlots')?.hasError('required')">
          Number of plots is required
        </mat-error>
      </mat-form-field>

      <!-- Plot Titles -->
      <div class="tb-plot-titles" *ngIf="numberOfPlots > 1">
        <div class="tb-form-hint">
          <mat-icon>info</mat-icon>
          <span>Give each plot a descriptive title to help users understand the data</span>
        </div>
        
        <div class="tb-plot-grid" fxLayout="column" fxLayoutGap="12px">
          <mat-form-field class="mat-block" *ngIf="numberOfPlots >= 1">
            <mat-label>
              <mat-icon class="tb-mat-label-icon">looks_one</mat-icon>
              Plot 1 Title
            </mat-label>
            <input matInput formControlName="plot1Title" placeholder="e.g., Temperature">
          </mat-form-field>

          <mat-form-field class="mat-block" *ngIf="numberOfPlots >= 2">
            <mat-label>
              <mat-icon class="tb-mat-label-icon">looks_two</mat-icon>
              Plot 2 Title
            </mat-label>
            <input matInput formControlName="plot2Title" placeholder="e.g., Humidity">
          </mat-form-field>

          <mat-form-field class="mat-block" *ngIf="numberOfPlots >= 3">
            <mat-label>
              <mat-icon class="tb-mat-label-icon">looks_3</mat-icon>
              Plot 3 Title
            </mat-label>
            <input matInput formControlName="plot3Title" placeholder="e.g., Pressure">
          </mat-form-field>

          <mat-form-field class="mat-block" *ngIf="numberOfPlots >= 4">
            <mat-label>
              <mat-icon class="tb-mat-label-icon">looks_4</mat-icon>
              Plot 4 Title
            </mat-label>
            <input matInput formControlName="plot4Title" placeholder="e.g., Wind Speed">
          </mat-form-field>

          <mat-form-field class="mat-block" *ngIf="numberOfPlots >= 5">
            <mat-label>
              <mat-icon class="tb-mat-label-icon">looks_5</mat-icon>
              Plot 5 Title
            </mat-label>
            <input matInput formControlName="plot5Title" placeholder="e.g., Solar Radiation">
          </mat-form-field>

          <mat-form-field class="mat-block" *ngIf="numberOfPlots >= 6">
            <mat-label>
              <mat-icon class="tb-mat-label-icon">looks_6</mat-icon>
              Plot 6 Title
            </mat-label>
            <input matInput formControlName="plot6Title" placeholder="e.g., Precipitation">
          </mat-form-field>

          <mat-form-field class="mat-block" *ngIf="numberOfPlots >= 7">
            <mat-label>
              <mat-icon class="tb-mat-label-icon">filter_7</mat-icon>
              Plot 7 Title
            </mat-label>
            <input matInput formControlName="plot7Title" placeholder="e.g., Air Quality">
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Developer Settings Section -->
    <div class="tb-form-panel">
      <div class="tb-form-panel-title">
        <mat-icon class="material-icons">code</mat-icon>
        <span>Developer Options</span>
      </div>
      
      <mat-slide-toggle formControlName="showDebugInfo" class="mat-slide">
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="tb-mat-toggle-icon">bug_report</mat-icon>
            <span>Show Debug Information</span>
          </div>
          <mat-hint>Displays widget status, data count, and plot distribution overlay</mat-hint>
        </div>
      </mat-slide-toggle>
    </div>

    <!-- Alarm Visualization Section -->
    <div class="tb-form-panel">
      <div class="tb-form-panel-title">
        <mat-icon class="material-icons">notification_important</mat-icon>
        <span>Alarm Visualization</span>
      </div>
      
      <div class="tb-settings-section" fxLayout="column" fxLayoutGap="8px">
        <mat-slide-toggle formControlName="showAlarmViolationAreas" class="mat-slide">
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="tb-mat-toggle-icon">highlight</mat-icon>
              <span>Show Alarm Violation Areas</span>
            </div>
            <mat-hint>Highlights regions where data exceeds alarm thresholds</mat-hint>
          </div>
        </mat-slide-toggle>
        
        <mat-form-field class="mat-block" *ngIf="echartsLineChartSettingsForm.get('showAlarmViolationAreas')?.value">
          <mat-label>Alarm Area Opacity</mat-label>
          <input matInput type="number" formControlName="alarmAreaOpacity" min="0" max="1" step="0.1">
          <mat-icon matSuffix class="tb-mat-hint">opacity</mat-icon>
          <mat-hint>Opacity of alarm violation areas (0-1)</mat-hint>
        </mat-form-field>
        
        <mat-form-field class="mat-block" *ngIf="echartsLineChartSettingsForm.get('showAlarmViolationAreas')?.value">
          <mat-label>Alarm Area Color</mat-label>
          <input matInput formControlName="alarmAreaColor" placeholder="rgba(255, 0, 0, 0.1)">
          <mat-icon matSuffix class="tb-mat-hint">palette</mat-icon>
          <mat-hint>Color for alarm violation areas</mat-hint>
        </mat-form-field>
        
        <mat-slide-toggle formControlName="showAlarmThresholdLines" class="mat-slide">
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="tb-mat-toggle-icon">horizontal_rule</mat-icon>
              <span>Show Alarm Threshold Lines</span>
            </div>
            <mat-hint>Display horizontal lines at alarm threshold values</mat-hint>
          </div>
        </mat-slide-toggle>
        
        <mat-form-field class="mat-block" *ngIf="echartsLineChartSettingsForm.get('showAlarmThresholdLines')?.value">
          <mat-label>Threshold Line Style</mat-label>
          <mat-select formControlName="alarmLineStyle">
            <mat-option value="solid">Solid</mat-option>
            <mat-option value="dashed">Dashed</mat-option>
            <mat-option value="dotted">Dotted</mat-option>
          </mat-select>
          <mat-icon matSuffix class="tb-mat-hint">line_style</mat-icon>
          <mat-hint>Style of alarm threshold lines</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <!-- Statistics Display Section -->
    <div class="tb-form-panel">
      <div class="tb-form-panel-title">
        <mat-icon class="material-icons">analytics</mat-icon>
        <span>Statistics Display</span>
      </div>
      
      <div class="tb-settings-section" fxLayout="column" fxLayoutGap="8px">
        <mat-slide-toggle formControlName="showInlineStats" class="mat-slide">
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="tb-mat-toggle-icon">insert_chart</mat-icon>
              <span>Enable Inline Statistics</span>
            </div>
            <mat-hint>Show statistics panel with real-time data metrics</mat-hint>
          </div>
        </mat-slide-toggle>
        
        <mat-form-field class="mat-block" *ngIf="echartsLineChartSettingsForm.get('showInlineStats')?.value">
          <mat-label>Statistics Position</mat-label>
          <mat-select formControlName="statsPosition">
            <mat-option value="top">Top</mat-option>
            <mat-option value="right">Right</mat-option>
            <mat-option value="bottom">Bottom</mat-option>
            <mat-option value="left">Left</mat-option>
          </mat-select>
          <mat-icon matSuffix class="tb-mat-hint">picture_in_picture</mat-icon>
          <mat-hint>Position of the statistics panel</mat-hint>
        </mat-form-field>
        
        <div class="tb-stats-cards-config" *ngIf="echartsLineChartSettingsForm.get('showInlineStats')?.value" formGroupName="statsCards">
          <div class="tb-form-hint">
            <mat-icon>info</mat-icon>
            <span>Select which statistics to display</span>
          </div>
          
          <mat-checkbox formControlName="showCurrent" class="tb-mat-checkbox">Current Value</mat-checkbox>
          <mat-checkbox formControlName="showMin" class="tb-mat-checkbox">Minimum</mat-checkbox>
          <mat-checkbox formControlName="showMax" class="tb-mat-checkbox">Maximum</mat-checkbox>
          <mat-checkbox formControlName="showAverage" class="tb-mat-checkbox">Average</mat-checkbox>
          <mat-checkbox formControlName="showStdDev" class="tb-mat-checkbox">Standard Deviation</mat-checkbox>
        </div>
      </div>
    </div>

    <!-- Visual Enhancement Section -->
    <div class="tb-form-panel">
      <div class="tb-form-panel-title">
        <mat-icon class="material-icons">auto_awesome</mat-icon>
        <span>Visual Enhancements</span>
      </div>
      
      <div class="tb-settings-section" fxLayout="column" fxLayoutGap="8px">
        <mat-slide-toggle formControlName="showMinMaxLines" class="mat-slide">
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="tb-mat-toggle-icon">trending_flat</mat-icon>
              <span>Show Min/Max Lines</span>
            </div>
            <mat-hint>Display horizontal lines at minimum and maximum values</mat-hint>
          </div>
        </mat-slide-toggle>
        
        <mat-form-field class="mat-block" *ngIf="echartsLineChartSettingsForm.get('showMinMaxLines')?.value">
          <mat-label>Min/Max Line Style</mat-label>
          <mat-select formControlName="minMaxLineStyle">
            <mat-option value="solid">Solid</mat-option>
            <mat-option value="dashed">Dashed</mat-option>
            <mat-option value="dotted">Dotted</mat-option>
          </mat-select>
          <mat-icon matSuffix class="tb-mat-hint">line_style</mat-icon>
        </mat-form-field>
        
        <mat-form-field class="mat-block" *ngIf="echartsLineChartSettingsForm.get('showMinMaxLines')?.value">
          <mat-label>Min/Max Line Opacity</mat-label>
          <input matInput type="number" formControlName="minMaxLineOpacity" min="0" max="1" step="0.1">
          <mat-icon matSuffix class="tb-mat-hint">opacity</mat-icon>
        </mat-form-field>
        
        <mat-slide-toggle formControlName="showDataPoints" class="mat-slide">
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="tb-mat-toggle-icon">scatter_plot</mat-icon>
              <span>Show Data Points</span>
            </div>
            <mat-hint>Display individual data points on the lines</mat-hint>
          </div>
        </mat-slide-toggle>
        
        <mat-form-field class="mat-block">
          <mat-label>Animation Duration (ms)</mat-label>
          <input matInput type="number" formControlName="animationDuration" min="0" step="100">
          <mat-icon matSuffix class="tb-mat-hint">speed</mat-icon>
          <mat-hint>Chart animation duration in milliseconds</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <!-- Export Settings Section -->
    <div class="tb-form-panel">
      <div class="tb-form-panel-title">
        <mat-icon class="material-icons">download</mat-icon>
        <span>Export Settings</span>
      </div>
      
      <div class="tb-settings-section" fxLayout="column" fxLayoutGap="8px">
        <mat-slide-toggle formControlName="enableImageExport" class="mat-slide">
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="tb-mat-toggle-icon">photo_camera</mat-icon>
              <span>Enable Image Export</span>
            </div>
            <mat-hint>Allow users to download chart as image</mat-hint>
          </div>
        </mat-slide-toggle>
        
        <mat-form-field class="mat-block" *ngIf="echartsLineChartSettingsForm.get('enableImageExport')?.value">
          <mat-label>Export Format</mat-label>
          <mat-select formControlName="exportFormat">
            <mat-option value="png">PNG</mat-option>
            <mat-option value="jpeg">JPEG</mat-option>
            <mat-option value="svg">SVG</mat-option>
          </mat-select>
          <mat-icon matSuffix class="tb-mat-hint">image</mat-icon>
          <mat-hint>Default image format for export</mat-hint>
        </mat-form-field>
        
        <mat-form-field class="mat-block" *ngIf="echartsLineChartSettingsForm.get('enableImageExport')?.value && echartsLineChartSettingsForm.get('exportFormat')?.value === 'jpeg'">
          <mat-label>Export Quality</mat-label>
          <input matInput type="number" formControlName="exportQuality" min="0" max="1" step="0.01">
          <mat-icon matSuffix class="tb-mat-hint">high_quality</mat-icon>
          <mat-hint>JPEG compression quality (0-1)</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <!-- Grid & Layout Section -->
    <div class="tb-form-panel">
      <div class="tb-form-panel-title">
        <mat-icon class="material-icons">grid_on</mat-icon>
        <span>Grid & Layout</span>
      </div>
      
      <div class="tb-settings-section" fxLayout="column" fxLayoutGap="8px">
        <mat-slide-toggle formControlName="showGridLines" class="mat-slide">
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="tb-mat-toggle-icon">grid_3x3</mat-icon>
              <span>Show Grid Lines</span>
            </div>
            <mat-hint>Display background grid lines on chart</mat-hint>
          </div>
        </mat-slide-toggle>
        
        <mat-form-field class="mat-block" *ngIf="echartsLineChartSettingsForm.get('showGridLines')?.value">
          <mat-label>Grid Opacity</mat-label>
          <input matInput type="number" formControlName="gridOpacity" min="0" max="1" step="0.1">
          <mat-icon matSuffix class="tb-mat-hint">opacity</mat-icon>
          <mat-hint>Opacity of grid lines (0-1)</mat-hint>
        </mat-form-field>
        
        <div class="tb-margins-config" formGroupName="chartMargins">
          <div class="tb-form-hint">
            <mat-icon>space_bar</mat-icon>
            <span>Chart Margins (pixels)</span>
          </div>
          
          <div class="tb-margin-inputs" fxLayout="row" fxLayoutGap="8px">
            <mat-form-field fxFlex>
              <mat-label>Top</mat-label>
              <input matInput type="number" formControlName="top" min="0">
            </mat-form-field>
            
            <mat-form-field fxFlex>
              <mat-label>Right</mat-label>
              <input matInput type="number" formControlName="right" min="0">
            </mat-form-field>
            
            <mat-form-field fxFlex>
              <mat-label>Bottom</mat-label>
              <input matInput type="number" formControlName="bottom" min="0">
            </mat-form-field>
            
            <mat-form-field fxFlex>
              <mat-label>Left</mat-label>
              <input matInput type="number" formControlName="left" min="0">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

  </div>
</form>