<form [formGroup]="dataKeySettingsForm" *ngIf="dataKeySettingsForm" style="width: 100%;">
  <div class="mat-content mat-padding" fxLayout="column" style="width: 100%;">
    
    <!-- Chart Type -->
    <mat-form-field class="mat-block" appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select formControlName="chartType">
        <mat-option value="Line">Line</mat-option>
        <mat-option value="Bar">Bar</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Subplot Assignment -->
    <mat-form-field class="mat-block" appearance="outline">
      <mat-label>Subplot Assignment</mat-label>
      <mat-select formControlName="axisAssignment">
        <mat-option value="Top">Top</mat-option>
        <mat-option value="Middle">Middle</mat-option>
        <mat-option value="Bottom">Bottom</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Bottom Plot Assignment -->
    <mat-form-field class="mat-block" appearance="outline">
      <mat-label>Show bottom Plot devicetype</mat-label>
      <mat-select formControlName="bottomPlotAssigment">
        <mat-option value="Always">Always</mat-option>
        <mat-option value="S-100">S-100</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Number of Digits -->
    <mat-form-field class="mat-block" appearance="outline">
      <mat-label>Number of Digits</mat-label>
      <input matInput type="number" formControlName="numberOfDigits" placeholder="1">
    </mat-form-field>

    <!-- Show Options -->
    <div fxLayout="column" fxLayoutGap="8px">
      <mat-checkbox formControlName="showAverage">Show horizontal average line</mat-checkbox>
      <mat-checkbox formControlName="showMinValue">Show min. Value</mat-checkbox>
      <mat-checkbox formControlName="showMaxValue">Show max. value</mat-checkbox>
      <mat-checkbox formControlName="fillChart">Fill Chart</mat-checkbox>
    </div>

    <!-- Gradient Colors -->
    <div fxLayout="row" fxLayoutGap="16px" style="margin-top: 16px;">
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Gradient Color 1</mat-label>
        <input matInput type="color" formControlName="gradientColor1">
      </mat-form-field>
      
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Gradient Color 2</mat-label>
        <input matInput type="color" formControlName="gradientColor2">
      </mat-form-field>
    </div>

    <!-- Fill Opacity -->
    <mat-form-field class="mat-block" appearance="outline">
      <mat-label>Fill Opacity</mat-label>
      <input matInput type="number" formControlName="fillOpacity" min="0" max="1" step="0.1">
      <mat-hint>Value between 0 and 1</mat-hint>
    </mat-form-field>

    <!-- Grid Layout Settings -->
    <div fxLayout="row" fxLayoutGap="16px" style="margin-top: 16px;">
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Chart to the right</mat-label>
        <input matInput type="number" formControlName="grid_layout_right">
      </mat-form-field>
      
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Chart to the left</mat-label>
        <input matInput type="number" formControlName="grid_layout_left">
      </mat-form-field>
    </div>

    <!-- Markline Layout -->
    <mat-form-field class="mat-block" appearance="outline">
      <mat-label>Markline Left or Right</mat-label>
      <input matInput type="number" formControlName="markline_layout_left_or_right">
    </mat-form-field>

  </div>
</form>